* {
    main-bg:            #050734B3;
    main-fg:            #CCCEFFE6;
    main-br:            #3AD3F2E6;
    main-ex:            #0D28B2E6;
    select-bg:          #DAAAF080;
    select-fg:          #452952E6;
}
