* {
    main-bg:            #101D33B3;
    main-fg:            #CCDFFFE6;
    main-br:            #4D94AAE6;
    main-ex:            #255270E6;
    select-bg:          #AAE5F080;
    select-fg:          #294B52E6;
}
