* {
    main-bg:            #05172DB3;
    main-fg:            #CCE3FFE6;
    main-br:            #094384E6;
    main-ex:            #0695E2E6;
    select-bg:          #AADFF080;
    select-fg:          #294852E6;
}
